.branch-item {
  font-size: 22px;
  padding: 10px;
  background: rgb(241, 241, 253);
  text-decoration: none;
  text-align: center;
}
.branch-item:hover {
  border: 2px solid rgb(177, 177, 177);
}
.branch-item img {
  height: 200px;
  max-width: 300px;
}
.branches-list-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-auto-rows: minmax(250px, 1fr);
  grid-gap: 10px;
}
