.App {
  display: grid;
  grid-template-areas:
    "header header header"
    "left-block main-block right-block"
    "footer footer footer";
  grid-template-rows: 100px 1fr 60px;
  grid-template-columns: 1fr minmax(600px, 4fr) 1fr;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
}
#page-header {
  grid-area: header;
  background-color: rgb(241, 241, 253);
  font-size: 22px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}
#page-footer {
  grid-area: footer;
  text-align: center;
}
#left-block {
  grid-area: left-block;
}
#right-block {
  grid-area: right-block;
}
#main-block {
  grid-area: main-block;
}
